<h1>Create a New Post</h1>
<hr>

<form action="/admin/post/new" method="POST" name="post">
	<input type="text" name="title" placeholder="This is a post...">
  <br>
  <input type="text" name="url" id="url" placeholder="Pretty URL">
  <br>
  <textarea name="raw" id="raw" cols="30" rows="10" placeholder="This is the body of the post."></textarea>
  <br>
  <input type="submit">
</form>